.business-list{
    width:100%;
    overflow: auto;

}

.booking-page-container {
    display: grid;
    /*grid-template-columns: 40% 60%;*/
    grid-template-columns: 100%;

    /*grid-template-rows: 1fr;*/
    /*height: 100vh;*/
    /*overflow: hidden;*/
    /*overflow-y:scroll;*/
    height: calc(100vh - 4rem);
}

.all-businesses-map {
    width: 100%;
    height: 100%;
}