.search-bar-wrapper {
    float: none;
    position: absolute;
    text-align: center;
    width: 25%;
    max-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.search-bar-wrapper .search-bar {
    border-radius: 15px;
    padding: 5px 10px;
    width: 100%;
    max-width: 300px;
    border: 0;
}