
/* Posts Feed */
.feed-container {
    margin: auto;
    /*width: 40%;*/
    max-width: 600px;

}

.post-wrapper {
    border: solid 1px silver;
    padding: 1em 0;
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 60px auto auto auto;
    /*grid-row-gap: 1em;*/

}

.post-img {
    width: 100%;
}

.circle-letter {
    background: var(--main-dark-color);
    color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 1em;
    margin-right: 1em;
}


.post-author-tag,
.post-business-tag,
.post-action-buttons,
.post-caption,
.post-comments,
.post-comment-form{
    padding: .5em 1em;
    margin-bottom: .5em;
}
.post-author-tag .post-options-icon {
    float: right;
}

.post-business-tag {
    border: 1px solid #8e793e;
    box-shadow: 0px 2px 7px 1px #888888;
    line-height: 30px;
}

.post-business-tag .location-tag {
    float: right;
}

.post-business-tag .location-icon {
    margin-right: 5px;
}

.heart-icon {
    margin-right: 20px;
}

.services-icon {
    float: right;
}

.post-comment-form {
    display: grid;
    grid-template-columns: 90% 10%;

}


.post-comment-form input,
.post-comment-form button {
    height: 100%;
}

.post-comment-form input {
    border: 1px solid #cccccc;
    padding: 0 1em;
    border-radius: 10px;
}

.post-comment-form input:focus {
    border: 1px solid #cccccc;
}

.post-comment-form button {
    border: none;
}
.post-comment-form button:hover {
    background-color: transparent;
    color: #8e793e;
}
