/* Variables */
:root {
    --main-dark-color: #231f20;
    --main-light-color: #f2f2f2;
    --main-gold-color: #8e793e;
    --main-silver-color: #cccccc;

    --main-regular-font-size: 1rem;
}

/* Universal */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0;

}


html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    padding-top: 3.5em;
}

/* Navbar */
.topnav {
    background-color: var(--main-dark-color);
    overflow: hidden;
    height: 3.5em;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.topnav a {
    float: left;
    display: block;
    color: var(--main-light-color);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: var(--main-regular-font-size);
}

.topnav a:hover {
    color: var(--main-gold-color);
}

.topnav a.active {
    color: var(--main-gold-color);
}

.topnav a.icon {
    display: none;
    color: var(--main-silver-color);
}

.topnav a.icon:hover {
    color: var(--main-silver-color);
}


.topnav > .nav-right {
    float: right;
}

.topnav > .signup-btn,
.topnav > .login-btn {
    min-width: 100px;
    padding: 0.2rem;
    border: 1px solid var(--main-gold-color);
    border-radius: 30px;
    margin: 0.6rem;
}

.topnav > .signup-btn {
    background-color: var(--main-gold-color);
}

.topnav > .signup-btn:hover,
.topnav > .login-btn:hover {

    /*border: 1px solid var(--main-light-color);*/
    background-color: var(--main-light-color);
    color: var(--main-gold-color);
}

/* Showcase */
.showcase-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'form carousel';
}

/* Carousel */
.carousel {
    grid-area: carousel;
    grid-column: 1 / span 2;
}

.carousel-item {
    width: 100%;
    height: 750px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 70%;
}

.carousel-img-1 {
    background-image: url("../images/carousel-img-1.jpeg");
}

.carousel-img-2 {
    background-image: url("../images/carousel-img-2.jpeg");
}


/* Form */

.form-style {
    grid-area: form;
    z-index: 10;
    background-color: rgba(35, 31, 32, 0.95);
    color: #f2f2f2;
    height: 100%;
    max-width: 500px;
    min-width: 350px;
    margin: 0;
    padding: 1% 6%;
    max-height: 750px;

}

.form-style h1 {
    margin-bottom: 20px;
    padding: 0;
}

.form-style label {
    display: inline-block;
    margin: 7px 0;
    width: 100%;
}


.form-input,
.login-form input,
.form-style input,
.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="username"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style textarea,
.form-style select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: transparent;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 3%;
    font: 95% Arial, Helvetica, sans-serif;
}

.form-black {
    color: #f2f2f2;
}

.form-style input[type="text"]:focus,
.form-style input[type="date"]:focus,
.form-style input[type="datetime"]:focus,
.form-style input[type="email"]:focus,
.form-style input[type="username"],
.form-style input[type="number"]:focus,
.form-style input[type="search"]:focus,
.form-style input[type="time"]:focus,
.form-style input[type="url"]:focus,
.form-style textarea:focus,
.form-style select:focus {
    box-shadow: 0 0 5px #ffffff;
    padding: 3%;
    border: 1px solid #ffffff;
}


.form-style textarea {
    resize: none;

}

.form-style input[type="submit"],
.form-style input[type="button"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #8e793e;
    border: 2px solid #8e793e;
    border-radius: 15px;
    color: #fff;
    font-size: large;
}

.form-style input[type="submit"]:hover,
.form-style input[type="button"]:hover {
    background: #ffffff;
    color: #8e793e;
}

.time-input {
    display: grid;
    grid-template-columns: 1fr 20px 1fr;

}

.dash {
    text-align: center;
    padding-top: .4em;
}


/* Boxes */
.info-container {
    padding: 3em;
    display: grid;
    grid-gap: 3.5em;
    overflow: hidden;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.info-box {
    /*min-width: 250px;*/
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
    /*margin-bottom: 20px;*/
}

.info-box-img {
    background-size: cover;
    width: 100%;
    overflow: hidden;
    height: 350px;
}

.info-box-img-1 {
    background-image: url("../images/info-box-img-1.jpeg");
    background-position: 65% 50%;
}
.info-box-img-2 {
    background-image: url("../images/info-box-img-2.jpeg");
    background-position: 55% 50%;


}
.info-box-img-3 {
    background-image: url("../images/info-box-img-3.jpeg");
    background-position: 55% 20%;
}

.info-box-img-4 {
    background-image: url("../images/info-box-img-4.jpeg");
    background-position: 40% 20%;
}


.info-box p {
    text-align: center;
    font-size: 1.2em;
}


.info-box button {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #fff;
    border: 2px solid #8e793e;
    border-radius: 15px;
    color: #8e793e;
    font-size: medium;
}

.info-box button:hover {
    color: #ffffff;
    background: #8e793e;
}

.info-box h4 {
    text-align: center;
    padding-top: 10px;
}

/* Modal */
.modal-dialog {
    width: 40%;
    min-width: 600px;
}

.modal-content {
    background-color: transparent;
    border: none;
    padding: 0;
}

/* Button group */

.account-select-btn-group {
    width: 100%;

}

.account-select-btn {
    background-color: var(--main-silver-color)!important;
    border: none;
}

.account-select-btn.active {
    background-color: var(--main-gold-color)!important;
}


/* Log in*/
.login {
    width: 40%;
    margin: 2em auto 0em;
    text-align: center;
    padding: 2em;
    /*border: solid 2px var(--main-silver-color);*/
    border-radius: 10px;
    min-width: 600px;
    background: #fff;
}

.btn-facebook {
    display: flex;
    width: 100%;
    padding: 6px;
    border-radius: 10px;
    background: #3b5998;
    color:white;
    font-size: 1rem;
    border:0px transparent;
    text-align: center;
    align-items: center;
    align-content: center;
    margin:5px;
}

.fb-icon {
    padding: 0;
    margin-left: auto;
    margin-right: 20px;
    z-index: 2;
}

.fb-text {
    /*margin-left: 20px;*/
    margin-right: auto;
/*    margin-top: 50%;*/
/*    margin-bottom: 50%;*/
/*align-self: center;*/
}
.login input,
.new-form input,
.login input[type="email"],
.login input[type="username"],
.login input[type="password"] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: transparent;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 3%;
    color: var(--main-dark-color);
    font: 95% Arial, Helvetica, sans-serif;
}

button {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: .5em;

    background: #fff;
    border: 2px solid #8e793e;
    border-radius: 15px;
    color: #8e793e;
    font-size: medium;
}

button:hover {
    background-color: #c2ae78;
    border-color: transparent;

    color: white;
}

.label.checkbox {
    float: left;
}

.forgot-para {
    float: right;
}
label.checkbox {
    float: left;
}

/* Footer */
footer {
    /*margin-top: 2rem;*/
    margin-bottom: 0;
    background: var(--main-dark-color);
    color: var(--main-light-color);
    text-align: center;
    padding: 1rem;
    height: 4rem;
}

.login-form {
    text-align: start;
}

/* Media queries */
@media screen and (max-width: 600px) {
    .topnav a {
        display: none;
    }

    .topnav > .signup-btn,
    .topnav > .login-btn {
        border: none;
        background-color: transparent;
        float: left;
        display: block;
        color: var(--main-light-color);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        margin: 0;
    }

    .topnav > .signup-btn:hover,
    .topnav > .login-btn:hover {

        border: none;
        background-color: transparent;
        color: var(--main-gold-color);
    }


    .topnav a.icon {
        float: right;
        display: block;
        cursor: pointer;
    }

    .topnav.responsive {
        position: fixed;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }


    /* Form */
    .form-style {
        max-width: 600px;
        min-width: 300px;
        width: 100%;
    }

    .showcase-wrapper {
        grid-template-columns: 1fr;
    }

/*    Boxes */
    .info-container {
        padding: 1em;
    }


/*    login */
    .login {
        min-width: 90%;
        width: 100%;
    }



    /*!* Modal *!*/
    .modal-dialog {
        width: fit-content;
        min-width: 100%;
        margin: 0;
    }
}


