.gallery {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-auto-rows: 1fr;*/
    grid-gap: 20px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-container {
    margin: auto;
    width: 70%;
    max-width: 900px;
}


.react-sanfona {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 70px;
}

.react-sanfona-item-title {
    background-color: #fafafa;
    border-top: 1px solid #ccc;
    color: #333;
    padding: 20px;
    text-transform: uppercase;
    transition: background-color .3s;
}

.react-sanfona-item:first-child .react-sanfona-item-title {
    border-top: none;
}

.business-cover {
    margin:auto;
    width: 100%;
    max-width: 900px;
    height: 400px;
}

.business-cover img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.react-sanfona-item-body-wrapper {
    color: #666;
    padding: 20px;
    position: relative;
}

.react-sanfona-item-body-wrapper:hover .tooltip {
    opacity: 1;
}

.business-info-wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 3em 0;
}

.business-main-info {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:20px;
    width: fit-content;
    text-align: center;
    align-items: center;
}

.business-social-media {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(10px, 1fr) );
}

.business-hours {
    margin: auto;
    width: fit-content;
    float: left;
}


.big-circle-letter {
    background: var(--main-dark-color);
    color: #fff;
    padding: 55px 70px;
    border-radius: 50%;
    font-size: 1em;
    display: inline-block;
}
