@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


::selection{
    color: #fff;
    background: #664AFF;
}

.wrapper{
    margin: auto auto;
    width: 100%;
}

.wrapper .search-input{
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    vertical-align: middle;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.jZkBQk > .wrapper {
    position: relative!important;
    z-index: 100!important;
}

.frjscc > input {
    margin-bottom: 0!important;
}

.search-input input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input.active input{
    border-radius: 5px 5px 0 0;
}

.search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}

.search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li{
    list-style: none;
    padding: 8px 12px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.search-input.active .autocom-box li{
    display: block;
}
.autocom-box li:hover{
    background: #efefef;
}

.search-input .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #644bff;
    cursor: pointer;
}

body {
    background: #f1eee9;
    font-family: "Roboto", sans-serif;
}

.main-content {
    padding-top: 100px;
    padding-bottom: 100px;
}

.post-block {
    background: #fff;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}
.post-block img.author-img {
    height: 45px;
    width: 45px;
    border-radius: 45px;
}
.post-block img.author-img.author-img--small {
    height: 30px;
    width: 30px;
}
.post-block__content img,
.post-block__content video,
.post-block__content audio {
    width: 100%;
    border-radius: 5px;
}


.comment-view-box {
    max-height: 350px;
    overflow: scroll;
}


.scroll-view-box {
    max-height: 700px;
    overflow: scroll;
}

.post-block .comment-view-box__comment {
    border-radius: 5px;
    background: #f5f5f5;
    padding: 15px;
}

.new-form {
    width: 40%;
    min-width: 600px;
    margin: auto;
}

.new-form img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.white-background {
    background-color: white;
}

.padding {
    min-height: 90vh;
    padding: 30px;
}

.select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: transparent;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 2%;
    color: var(--main-dark-color);
    font: 95% Arial, Helvetica, sans-serif;
}

.button-primary {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 45%;
    float: right;
    background: #8e793e;
    border: 2px solid #8e793e;
    border-radius: 15px;
    color: #fff;
    font-size: large;
}

.button-primary:hover
.button:hover {
    background: #c2ae78;
    color: #fff;
}

.button-secondary {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 45%;
    float: left;

    background: #fff;
    border: 2px solid #8e793e;
    border-radius: 15px;
    font-size: large;
}


.button-medium {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80%;
}

.float-left{
    display: block;
    float: left;
}

.float-right{
    float: right;
}

.width-100{
    width: 100%;
}


.card {
    padding-bottom: 15px;
}


.profileImage {
    object-fit: cover;
    align-content: center;
    max-height: 500px;
}

.container {
    width: 80% !important;
    max-width: 100%;
}

.multiList {
    background-color: black;
    color: black !important;
}


.main-section{
    background:#FFFFFF;
    width:80%;
    margin: 0 auto;
    padding: 10px;
    margin-top:50px;
    box-shadow:0px 2px 7px 1px #aa9191;
}
.hedding-title h1{
    margin:0px;
    padding:0px 0px 10px 0px;
    font-size:25px;
}
.average-rating{
    float:left;
    text-align: center;
    width:30%;
}
.average-rating h2{
    margin:0px;
    font-size:80px;
}
.average-rating p{
    margin:0px;
    font-size:20px;
}
.fa-star,.fa-star-o,.fa-star-half-o{
    color:#FDC91B;
    font-size:25px !important;
}
.progress,.progress-2,.progress-3,.progress-4,.progress-5{
    background:#F5F5F5;
    border-radius: 13px;
    height:18px;
    width:97%;
    padding:3px;
    margin:5px 0px 3px 0px;
}
.progress:after,.progress-2:after,.progress-3:after,.progress-4:after,.progress-5:after{
    content: '';
    display: block;
    background: #337AB7;
    width:80%;
    height: 100%;
    border-radius: 9px;
}
.progress-2:after{
    width: 60%;
}
.progress-3:after{
    width:40%;
}
.progress-4:after{
    width:20%;
}
.progress-5:after{
    width:10%;
}
.loder-ratimg{
    display: inline-block;
    width:40%;
}
.start-part{
    float:right;
    width:30%;
    text-align: center;
}
.start-part span{
    color:#337AB7;
    font-size:23px;
}
.reviews h1{
    margin:10px 0px 20px 30px;
}
/*.user-img img{*/
/*    height: 80px;*/
/*    width: 80px;*/
/*    border:1px solid blue;*/
/*    border-radius: 50%;*/
/*}*/
/*.user-img-part{*/
/*    width:30%;*/
/*    float:left;*/
/*}*/
/*.user-img{*/
/*    width:48%;*/
/*    float:left;*/
/*    text-align: center;*/
/*}*/
.user-text{
    float:left;
}
.user-text h4,.user-text p{
    margin:0px 0px 5px 0px;
}
.user-text p{
    font-size: 20px;
    font-weight: bold;
}
.user-text h4,.user-text span{
    color:#B3B5B4;
}
.comment{
    width:100%;
    float:right;
}


.checkbox {
    width: 10%!important;
}


.menu {
    color: #8e793e;
}

.menu:hover,
.menu:active,
.menu:focus {

    color: white!important;
    background-color: #c2ae78!important;
    border-color: transparent!important;
}

.menu-dropdown {
    width: 45%;
    text-align: center;
}


.business-card {
    /*border: 1px solid #ccc;*/
    /*border-radius: 10px;*/

    height: fit-content;
}

.business-card-img {
    width: 133px;
    height: 133px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJ3b21hbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI1NiAyNTYiIHN0eWxlPSJ3aWR0aDogMjU2cHg7IGhlaWdodDogMjU2cHg7Ij4KPHJlY3QgZmlsbD0iI0M2RDhFMSIgd2lkdGg9IjI1NiIgaGVpZ2h0PSIyNTYiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTE1MC41LDE2MC4xTDE1MC41LDE2MC4xVjE1MmMwLDAsMjUuNCwwLjgsMzcuNC0xMS41YzAsMC0xNy41LTQuOS0xNC40LTM2LjljMy4xLTMxLjktMy45LTU5LjktMjkuNi01Ny41CgljMCwwLTExLjEtMTMuNC0zMy4yLTQuOWMtNy42LDIuOS0yOCwxMC4yLTI2LjksNTQuNGMxLDQ0LjItMTUuNyw0NC41LTE1LjcsNDQuNXM4LjYsMTIuNiwzNy45LDEyLjN2OC4ybDIyLjMsNjVsMjIuMi02NC45CglMMTUwLjUsMTYwLjF6Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0yMTAsMjU2bC00LjUtNTQuMmMtMS41LTgtNi42LTE0LjktMTMuOS0xOC41bC0yOC0xMy44Yy0xLjYtMC44LTMuMi0xLjctNC44LTIuNmw4LjgsMjYuMWwtMTIuNC0wLjkKCUwxMjgsMjI1LjZMMTAwLjcsMTkyTDg4LjQsMTkzbDktMjYuMWwtNS42LDIuOWwtMjcuNCwxMy41Yy03LjMsMy42LTEyLjUsMTAuNS0xMy45LDE4LjVMNDYsMjU2SDIxMHoiLz4KPC9zdmc+);
    background-position: 50% 50%;
    margin: 0 auto 0 0;
}

.horizontal-card {
    position: relative;
    display: flex;
    border: 1px solid gray;
    margin-bottom: 1rem;
}
.horizontal-card img{
    width: 300px;
    height: 300px;
}
.horizontal-card-body{
    display: flex;
    flex-direction: column;
    margin-left:1rem;
}
.horizontal-card-footer {
    position: absolute;
    left: 330px;
    right: 30px;
    bottom: 30px;
    height: 30px;
    align-items: center;
}
.horizontal-card span{
    width:200px;
    display:inline-block;
}
.horizontal-card a{
    margin-left:10px;
}

.selectedStyle {
    backgroundColor: "lightgrey";
    padding: 10px;
    height: 75px;
}