/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/


/*label {*/
/*  display: block;*/
/*  margin-top: 10px;*/
/*}*/

/*.card-container.card {*/
/*  max-width: 350px !important;*/
/*  padding: 40px 40px;*/
/*}*/

/*.card {*/
/*  background-color: #f7f7f7;*/
/*  padding: 20px 25px 30px;*/
/*  margin: 0 auto 25px;*/
/*  margin-top: 50px;*/
/*  -moz-border-radius: 2px;*/
/*  -webkit-border-radius: 2px;*/
/*  border-radius: 2px;*/
/*  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
/*  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
/*  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);*/
/*}*/

/*.profile-img-card {*/
/*  width: 96px;*/
/*  height: 96px;*/
/*  margin: 0 auto 10px;*/
/*  display: block;*/
/*  -moz-border-radius: 50%;*/
/*  -webkit-border-radius: 50%;*/
/*  border-radius: 50%;*/
/*}*/


@import "./static/styles/homePage.css";
@import "./static/styles/feed.css";
@import "./static/styles/components.css";
@import "./static/styles/bookingPage.css";
@import "./static/styles/profilePage.css";
@import "./static/styles/style.css";


@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";